@import './scss-config/reset.scss';
@import './scss-config/variables.scss';
@import './scss-config/rem-calc.scss';
@import './scss-config/btn.scss';
@import './scss-config/animation.scss';

html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--secondary)
  }
}

main {
  max-width: rem-calc(600);
  margin: 0 auto;
  padding: 0 rem-calc(20);
  box-sizing: border-box;
  background-color: var(--secondary);
  border-radius: rem-calc(10);
  padding-top: rem-calc(20);
}